<div class="container">
  <h1>About Us!</h1>
  <div class="col-md-3">
    <p> We are here to help you decide what to do with your Friday night. What do you want to drink? We got you. Eat? Got your there too. Watching a movie? You guessed it, we got you.</p>
  </div>
  <div class="col-md-3">
    <img class="image1" alt="dinner" src="../assets/img/food.jpg"/>
  </div>
  <br>
  <div class="col-md-3">
    <img class="image2" src="../assets/img/cocktail.jpg">
  </div>
  <br>
  <div class="col-md-3">
    <img class="image3" src="../assets/img/movie.jpg">
  </div>
