.container{
  text-align: left;
}
.image1 {
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  /*border: 10px;*/
}
.image2 {
  width: 100%;
  top: 30px;
  left: 70px;
}
.image3 {
  width: 100%;
  top: 30px;
  left: 70px;
}
