<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" id="title" routerLink="">
    chooZee
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="drinks">Drinks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="food">Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="movie">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user-list">User List</a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn">
        <a class="btn">User: {{userName}}</a>
        <a class="button" (click)="logout()">Log out</a>
      </li>
      <li *ngIf ="!isLoggedIn">
        <a id="logInbutton" class="btn btn-light" (click)="login()" routerLink="user">Log in</a>
      </li>
    </ul>
</nav>
