<h1>What drink should I drink today?</h1>
<select (change)="onChange($event.target.value)">
  <option value="allDrinks">All Drinks</option>
</select>

<div class="form-group">
  <label for="drinkType">Choose a Drink Type</label>
  <select multiple class="form-control" id="drinkType">
    <option>cocktails</option>
    <option>beer</option>
    <option>coffee</option>
    <<option>tea</option>
  </select>
</div>
<div class="form-group">
  <label for="event">Choose an Occasion</label>
  <input type="text" class="form-control" id="event" placeholder="Quick and Easy" required>
</div>
  <button type="submit" name="submitDrinks">Drinks!</button>
</div>
