<div class="container">
  <h1>What drink should I drink today?</h1>
  <!-- <select (change)="onChange($event.target.value)">
    <option value="allDrinks">All Drinks</option>
  </select> -->
  <form (ngSubmit)="onSubmit()" #drinks="ngForm">
    <div class="form-group">
      <label for="drink">Choose a Drink Type</label>
      <select class="form-control" id="drink"
          required
          [(ngModel)]="model.drink" name="drink"
          #drink="ngModel">
        <option *ngFor="let drinkType of drinks" [value]="drinkType">{{drinkType}}</option>
      </select>
      <div [hidden]="drink.valid || drink.pristine" class="alert alert-danger">
        Drink Type is required
      </div>
    </div>

      <button type="submit" class="btn btn-success" [disabled]="!drinks.form.valid">Submit</button>
  </form>
</div>
