<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="drinkForm" class="container container-fluid">
        <input class="form-control" id="location" type="text">
        <button type="submit"class="button" id="drinkInfo"  (click)="getDrink()">chooZee your drink</button>
      <br>
      <br>
      <br>
      <div *ngIf="randDrink">
        <h4>{{randDrink.strDrink}}</h4>
        <img src="{{randDrink.strDrinkThumb}}">
        <br>
        <br>
        <em>Instructions:</em> <p>{{randDrink.strInstructions}}</p>
      </div>
    </div>
  </body>
</html>
