#showcase{
  background-image: url("/assets/img/landing.jpg");
  background-size:cover;
  background-position:center;
  height:97vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}
#showcase p{
  font-size: 35px;
}
#showcase .button{
  font-size:15px;
  text-decoration:none;
  border: 1px solid black;
  padding:10px 20px;
  border-radius:25px;
  margin-top:20px;
  color: black;
}
#showcase .button:hover{
  color: white;
  background-color: black;
}
.choo{
  font-size: 35pt;
}
.Zee{
  color:#E2CE4A;
  font-size: 35pt;
}
