h1 {
  font-family: helvetica;
  margin-bottom: 2%;
  font-size: 18pt;
}
.parent {
  width: 100%;
  top: 0;
  left: 0;
}
.gallery {
    margin-top: 10%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
