<!-- <<<<<<< HEAD
<body>
  <div style="text-align:center">
    <h1>
      Welcome to {{WelcomeTitle}}!
    </h1>
    <div class="gallery" id="gallery">
        <div class="mb-3 pics animation all 2">
            <img src="../assets/img/food.jpg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 1">
            <img src="../assets/img/cocktail.jpg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 1">
            <img src="../assets/img/movie.jpg" alt="Card image cap">
        </div>
    </div>
  </div>
</body>
======= -->
<header id="showcase">
  <!-- <h1>{{WelcomeTitle}}</h1> -->
    <p>be choosy, with chooZee</p>
    <a routerLink="about" class="button">About</a>
</header>


<!-- >>>>>>> master -->
