<p>
  movie-form works!
</p>

<h1>Movie  Form</h1>
<div *ngIf="selectedMovie">
  <h3>{{selectedMovie.title}}</h3> <br>
  <img src="http://image.tmdb.org/t/p/w342/IfB9hy4JH1eH6HEfIgIGORXi5h.jpg" alt=""> 
  <p>{{selectedMovie.overview}}</p>

</div>

<form>
  <div class="form-group">
    <label for="name">Search</label>
    <p>{{movies.results}}</p>
    <input type=text>
  <button (click)="getMovie()" type="button">Movie Suggestions</button>

  <p>{{results}}</p>

</div>
</form>

<div *ngIf="movies">
  <app-movie-list [childMovies]="movies">
<p>Hello</p>
  </app-movie-list>

</div>

<div *ngIf="!movies">
    <h3>There are no movies</h3>
</div>
