/* You can add global styles to this file, and also import other style files */


footer {
   position: fixed;
   bottom:0;
   left:0;
   right:0;
   height:30px;
}

header {
  background-color: blue;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 30px;
}

body{
  font-family: helvetica;
}

#pBar{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
