<p>
  genre-list works!
</p>

<!-- <form>
  <fieldset>
  <legend>Choose genre(s)</legend>
    <div>
      <input type="checkbox" id="action" name="interest" value="action">
      <label for="action">Action</label>
    </div>
    <div>
      <input type="checkbox" id="adventure" name="interest" value="adventure">
      <label for="adventure">Adventure</label>
    </div>
    <div>
      <input type="checkbox" id="comedy" name="interest" value="comedy">
      <label for="comedy">Comedy</label>
    </div>
    <div>
      <input type="checkbox" id="crime" name="interest" value="crime">
      <label for="crime">Crime</label>
    </div>
    <div>
      <input type="checkbox" id="documentary" name="interest" value="documentary">
      <label for="documentary">Documentary</label>
    </div>
    <div>
      <input type="checkbox" id="drama" name="interest" value="drama">
      <label for="drama">Drama</label>
    </div>
    <div>
      <input type="checkbox" id="thriller" name="interest" value="thriller">
      <label for="thriller">Thriller</label>
    </div>
    <div>
      <input type="checkbox" id="mystery" name="interest" value="mystery">
      <label for="mystery">Mystery</label>
    </div>
    <div>
      <input type="checkbox" id="romance" name="interest" value="romance">
      <label for="romance">Romance</label>
    </div>
    <div>
      <input type="checkbox" id="fantasy" name="interest" value="fantasy">
      <label for="fantasy">Fantasy</label>
    </div>
    <div>
      <input type="checkbox" id="family" name="interest" value="family">
      <label for="family">Family</label>
    </div>
    <div>
      <input type="checkbox" id="science-fiction" name="interest" value="science-fiction">
      <label for="science-fiction">Science Fiction</label>
    </div>
    <div>
      <input type="checkbox" id="war" name="interest" value="war">
      <label for="war">War</label>
    </div>
    <div>
      <input type="checkbox" id="horror" name="interest" value="horror">
      <label for="horror">Horror</label>
    </div>
    <div>
      <input type="checkbox" id="music" name="interest" value="music">
      <label for="music">Music</label>
    </div>
    <div>
      <input type="checkbox" id="western" name="interest" value="western">
      <label for="western">Western</label>
    </div>
    <div>
      <input type="checkbox" id="other" name="interest" value="other">
      <label for="other">Other</label>
      <input type="text" id="otherValue" name="other">
    </div>
    <div>
      <button type="submit">Submit form</button>
    </div>
  </fieldset>
</form> -->
